@import "../../../common/styles/variables";
@import "../../../common/styles/layouts";
@import "../../../common/styles/mixins";

.buttonCommon {
  @include buttonStyle();

  //&:hover {
  //  box-shadow: 0 0 3px 1px $primaryColor;
  //}
}

.connect {
  @extend .buttonCommon;
  text-decoration: none;
  width: 46%;
  background: linear-gradient(256deg, #c4bfb6 0%, $primaryColor 100%);
  //background: $primaryColor;
  color: #ffffff;
}

.follow {
  @include buttonStyle();
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 46%;
  background-color: $blocksBackground;
  color: $mainTextColor;
  border: 2px solid $borderTop;
}

.viewProfile {
  @include buttonStyle();
  //border: none;
  background-color: $borderTop;
  color: $mainTextColor;
  /*font-weight: 700;
  color: $primaryColor;*/

  /*&:hover {
    box-shadow: none;
    color: $borderTop;
  }*/
}



