@import "../../common/styles/variables";

.center {
  display: flex;
  justify-content: center;
  margin: auto;

  .loginContainer {
    background: $borderTop;
    border: 1px solid $mainTextColor;
    width: 340px;
    min-height: 600px;
    top: 0;
    padding: 40px 30px;
    text-align: center;
    color: $mainTextColor;
    z-index: 1000;

    .title {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 10px;

      img {
        width: 46px;
        height: 46px;
      }

    }

    .description {
      margin: 50px 0 20px;
      font-weight: 500;

      .apiLink {
        color: #dc2828;
        padding: 2px;
      }
    }

    .line {
      background: none;
      height: 1px;
      border-top: 1px solid rgba(255, 255, 255, .20);
      width: 180px;
      margin: 10px auto;
      background: $mainTextColor;
    }

    .loginForm {
      padding: 20px 20px 0;
      border: 1px solid $mainTextColor;
      margin-bottom: 30px;

      .loginFormTitle {
        margin-bottom: 10px;
      }

    }
  }
}