@import "../../common/styles/variables";

.profileContainer {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: 'profile-description posts section';
  gap: 16px;
  @media (max-width: 1200px) {
    max-width: 930px;
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-template-areas: 'profile-description'
        'posts'
        'section';
  }

  @media (max-width: 992px) {
    max-width: 688px;
  }
  @media (max-width: 768px) {
    max-width: 508px;
  }
}

.content__img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid $borderTop;
}