@import "../../common/styles/variables";
@import "../../common/styles/mixins";
@import "../../common/styles/layouts";


.dialogsContainer {
  display: grid;
  grid-template-columns: 3fr 7fr;
  background-color: $blocksBackground;
  height: 80vh;
  @extend .blocksBorder;
  border-top: 3px solid $borderTop;

  .dialogsItems {
    padding: 10px;
    border-right: 1.5px solid $borderTop;
    overflow-y: scroll;

  }

  .messagesContainer {
    @include flexColumn;

    .messages {
      border-bottom: 1px solid $borderTop;
      overflow-y: scroll;
      flex-grow: 1;
      height: 65vh;
      padding: 10px;

      span {
        padding: 5px 10px;

      }

      .userPhoto {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid $borderTop;
      }
    }
  }

}







