@import "../styles/variables";

.smallUserPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.inputTextareaBasicLayout {
  display: block;
  width: 100%;

  font-weight: 400;
  line-height: 1.5;
  color: $mainTextColor;
  background-color: #fff;
  border: 1px solid $borderTop;
  border-radius: 3px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: none;
  &:focus {
    box-shadow: 0 0 3px 1px $primaryColor;
    outline: none;
  }
}

.blocksBorder {
  border-bottom: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-radius: 5px;
  border-right: 1px solid #e4e4e4;
  box-shadow: 0 2px #e4e4e4;
}