@import "../../../common/styles/layouts";
@import "../../../common/styles/variables";
@import "../../../common/styles/mixins";

.section {
  //border-top: 3px solid $borderTop;
  grid-area: section;
  height: max-content;

  .aboutFeatures {
    @extend .blocksBorder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    @extend .blocksBorder;
    background-color: $blocksBackground;
    border-top: 3px solid $borderTop;

    .infoText {
      border: 2px solid $borderTop;
      padding: 10px 30px 40px 30px;
    }

    .openButton {
      @include buttonStyle();
      position: relative;
      bottom: 38px;
    }
  }

  .news {
    @extend .blocksBorder;
    background-color: $blocksBackground;
    border-top: 3px solid $borderTop;

    & > h3, div {
      padding: 15px;
      border-bottom: $mainBorder;
    }

    & > h3 {
      text-align: center;
    }

    .newsLink {
      text-decoration: none;
      color: $primaryColor;
      font-weight: 600;
    }
  }

}