.formControl {

}

.formControl.error input,
.error textarea {
    border: 1px solid red;
}

.formSummaryError {
    border: 1px solid red;
    color: red;
    padding: 5px;
    background-color: #ff6767;
}