.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 15px;
}

.newPostArea {
  /*  position: absolute;*/
    display: flex;
    flex-direction: row;
}

.newPostArea textarea {
    border: 1.5px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box;
    width: 425px;
    height: 35px;
    background: #FFFFFF;
    resize: none;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.newPostArea button {
    font-size: 13px;
    width: 75px;
    height: 35px;
    border: 1.5px solid #e0e0e0;
    opacity: 0.5;
    border-radius: 8px;
    cursor: pointer;
}

.newPostArea button::before {

}