@import "../Buttons/Buttons.module.scss";

.outlineNone{
    outline: none;
}

.errorBorder {
    border: 2px solid #dc2828;
}

.errorMessageColor {
    margin: -10px 0 10px 0;
    font-weight: 700;
    color: #dc2828;
}

.loginButton {
    @extend .connect;
    width: 60%;
    position: relative;
    top: 15px;
}

.rememberMe {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.captcha {
    max-height: 90px;
}