@import "../../../common/styles/mixins";
@import "../../../common/styles/variables";
@import "../../../common/styles/layouts";

.content__img {
    width: 100%
}

.profileInfoContainer {
    grid-area: profile-description;
    @include flexColumn();

    .mainProfileBox {
        @include flexColumn();
        @extend .blocksBorder;
        justify-content: space-between;
        align-items: center;
        background-color: $blocksBackground;
        margin-bottom: 16px;
        padding: 24px 16px;
        border-top: 3px solid $borderTop;

        .profilePhoto {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            margin-top: 8px;
            border: 3px solid $borderTop;
        }

        .inputTypeFile {
            opacity: 0;
            position: absolute;
            z-index: -1;
        }

        .uploadImage {
            background: none;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            margin-top: 10px;
        }
        .fullName {
            max-width: 100%;
            overflow: auto;
        }

    }

    .settingButtons {
        text-align: center;
        margin-bottom: 10px;
        .settingButton {
            @include buttonStyle();
        }
    }

    .restProfileInformation {
        background-color: $blocksBackground;
        border-top: 3px solid $borderTop;
        @extend .blocksBorder;
        .profileDataContainer {
            text-align: center;
            & > div:not(div:last-child) {
                padding: 16px;
                border-bottom: 1.5px solid $borderTop;
            }

            .aboutMe {
                @include flexColumn();
                align-items: center;
            }

            .contact {
                padding: 16px;
                border-bottom: 2px solid $borderTop;
            }
        }

    }

    .editProfileInformation {

        @extend .blocksBorder;
        & > div:not(:first-child, :last-child) {
            padding: 16px;
            border-top: 2px solid #eaebec;
        }
        & > div:first-child {
            padding: 16px;
        }

        & > div:not(div:first-child) {
            @include flexColumn();
            text-align: center;
        }

        .contactForm {
            padding: 16px;
            border-bottom: 2px solid #eaebec;
        }
        .profileEditStatus {
            color: red;
            border: 1px solid red;
            border-radius: 5px;
            position: relative;
            z-index: 1;
        }
    }
}

.saveButtons {
    text-align: center;

    .saveButton {
        @include buttonStyle();
    }
}

.interactProfile > div {
    display: flex;
    gap: 20px;
    margin-top: 18px;
}





