@import "../../../common/styles/variables";

.loader {
  margin: 300px auto;
  border: 16px solid $borderTop;
  border-radius: 50%;
  border-top: 16px solid $primaryColor;
  width: 220px;
  height: 220px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}